.products-per-page {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.options-label {
    font-size: 16px;
    font-weight: var(--body-font-weight);
    color: var(--main-black);
    text-transform: uppercase;
}

/* Styl dla całego selektora dropdown */
.dropdown-selector {
    position: relative;
    cursor: pointer;
    min-width: 80px;
    background-color: var(--white);
    border: none; /* Brak obramowania na początku */
    border-radius: 4px;
}

/* Po aktywacji pojawia się border */
.dropdown-selector.active {
    border: 1px solid var(--light-gray);
}

/* Kontener dla nagłówka dropdown (liczba + strzałka) */
.dropdown-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrowanie poziome */
    padding: 10px 12px;
    position: relative; /* Dla pozycjonowania strzałki */
}

/* Styl dla wybranej opcji */
.selected-option {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 2px;
    border-bottom: none;
    margin-right: 15px; /* Większy odstęp od strzałki */
}

/* Podkreślenie pojawia się tylko po aktywacji dropdown i rozciąga się pod strzałką */
.dropdown-selector.active .dropdown-header::after {
    content: '';
    position: absolute;
    bottom: 8px; /* Dostosuj do pozycji podkreślenia */
    left: 12px;
    right: 12px;
    height: 1.5px;
    background-color: var(--main-black);
}

/* Usunięcie podkreślenia z .selected-option, ponieważ teraz jest wspólne */
.dropdown-selector.active .selected-option {
    border-bottom: none;
}

/* Strzałka ma stałą pozycję po prawej stronie */
.dropdown-arrow {
    width: 24px;
    height: 24px;
    filter: brightness(0);
    position: absolute;
    right: 8px; /* Stała pozycja niezależnie od szerokości tekstu */
}

/* Kontener dla opcji dropdown */
.dropdown-content {
    display: none;
    flex-direction: column;
    width: 100%;
    border-top: 0;
}

/* Wyświetlanie opcji, gdy dropdown jest aktywny */
.dropdown-selector.active .dropdown-content {
    display: flex;
}

/* Styl opcji w dropdown */
.dropdown-option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border-bottom: 1px solid var(--light-gray);
    padding: 0;
}

/* Ostatnia opcja bez dolnego obramowania */
.dropdown-option:last-child {
    border-bottom: none;
}

/* Hover na opcji */
.dropdown-option:hover {
    background-color: var(--light-gray);
}

/* RWD dla dropdowna */
@media (max-width: 480px) {
    .products-per-page {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
}
