:root {
    --dropdown-font-size: 16px;
    --dropdown-font-weight: 700;
    --dropdown-padding: 10px 12px;
    --dropdown-border-color: var(--light-gray);
    --dropdown-option-height: 40px;
}

.products-per-page {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.options-label {
    font-size: var(--dropdown-font-size);
    font-weight: var(--body-font-weight);
    color: var(--main-black);
    text-transform: uppercase;
}

.dropdown-selector {
    position: relative;
    cursor: pointer;
    min-width: 80px;
    background-color: var(--white);
    border: none;
    border-radius: 4px;
}

.dropdown-selector.active {
    border: 1px solid var(--dropdown-border-color);
}

.dropdown-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--dropdown-padding);
    position: relative;
}

.selected-option {
    font-size: var(--dropdown-font-size);
    font-weight: var(--dropdown-font-weight);
    padding-bottom: 2px;
    border-bottom: none;
    margin-right: 15px;
}

.dropdown-selector.active .dropdown-header::after {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 12px;
    right: 12px;
    height: 1.5px;
    background-color: var(--main-black);
}

.dropdown-selector.active .selected-option {
    border-bottom: none;
}

.dropdown-selector .dropdown-arrow {
    width: 24px;
    height: 24px;
    filter: brightness(0);
    position: absolute;
    right: 8px;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    width: 100%;
    border-top: 0;
}

.dropdown-selector.active .dropdown-content {
    display: flex;
}

.dropdown-option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--dropdown-option-height);
    font-size: var(--dropdown-font-size);
    font-weight: var(--dropdown-font-weight);
    cursor: pointer;
    border-bottom: 1px solid var(--dropdown-border-color);
    padding: 0;
}

.dropdown-option:last-child {
    border-bottom: none;
}

.dropdown-option:hover {
    background-color: var(--light-gray);
}

@media (max-width: 480px) {
    .products-per-page {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}
