/* Style dla banera promocyjnego */

.promo-banner {
    grid-column: span 2;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.promo-banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.promo-banner-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    color: black;
    text-shadow: none;
    background: none;
    height: 100%;
    padding: 2rem 2rem 3rem 2rem;
}

.promo-banner-header {
    margin-top: 1rem;
    text-align: center;
}

.promo-banner-label {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    letter-spacing: 0.5px;
    display: block;
}

.promo-banner-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    max-width: 70%;
    margin: 0 auto;
}

.promo-banner-button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition: background-color 0.2s ease;
    margin-top: auto;
}

.button-arrow {
    font-size: 1.2rem;
    line-height: 1;
}

.promo-banner-button:hover {
    background-color: #f0f0f0;
}

/* Responsywność dla banera promocyjnego */
@media (max-width: 1020px) {
    .promo-banner {
        grid-column: span 3;
        height: 400px;
    }
    
    .promo-banner-title {
        max-width: 90%;
        font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
    .promo-banner {
        grid-column: span 2;
        height: 350px;
    }
    
    .promo-banner-title {
        max-width: 90%;
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    .promo-banner {
        grid-column: span 1;
        height: 400px;
    }
    
    .promo-banner-title {
        max-width: 90%;
        font-size: 1.6rem;
    }
    
    .promo-banner-content {
        padding: 2rem 1.5rem 2.5rem 1.5rem;
    }
} 